html{
    font-family: "Open Sans", 'Times New Roman', Times, serif;
    height: 100%;
    margin: auto;
    display: flex;
    width : 1250px;
    flex-direction: column;
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0 50px; 
}
h1{
    font-size: 53px;
    font-weight: bold;
    text-align: left;
    display: block;
}
a{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
}
a:hover{
    opacity: 0.6;
}
a:active{
    opacity: 0.3;
}
a.mail{
    color: #444444;
    font-size: 17px;
    text-decoration-color: #62d1ba;
    font-weight: normal;
    text-decoration-line: underline;
}
a.mail:hover{
    text-decoration-color: #46c1ae;
    color: #46c1ae;
}
a.mail:active{
    opacity: 0.3;
}
p{
    display: block;
    font-size: 17px;
    color: #5c5252;
    margin: 0;
    line-height: 1.8;
}
button{
    height: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    flex-grow: 0;
    color: #444444;
    text-transform: uppercase;
    outline: none;
}
button:hover{
    background-color: #444444;
    border-color: #444444;
    color: white;
}
button:active{
   color: #8d8d8d;
}

nav,
header, 
main .main-info .menu,
.product,
.about-us.feedback div,
.contacts,
footer{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
}
main section.main-info,
.product .product-info,
.about-us.feedback{
    display: flex;    
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}
header, main, footer{
    padding: 0 50px;
}

/* <<<<<----------header---------->>>>> */
header{
    font-size: 17px; 
    height: 90px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
 }
header a.cart{
    flex-grow: 0;
}
header a.catalog{
    width: 185px;
    border-right: 1px solid #ececec;
}
header a.order{
    padding-left: 35px;
}
header a.logo{
    height: 90px;
    width: 150px;
    background-image: url("img/mishka-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0%;
    left: 43.5%;
}
header a.search{
    background-image: url("img/search.png");
    height: 90px;
    width: 85px;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    position: absolute;
    left: 65%;
}
header a.search:hover{
    background-image: url("img/search-hover.png")
}
header a.cart::before{
    content: url("img/cart.png");
    margin-right: 30px;
}
header a.cart:hover:before{
    content: url("img/cart-hover.png");

}
header nav{height: 100%;}
header nav a{
    height: 100%;
    display: flex;
    align-items: center;
}


/* <<<<<----------main---------->>>>> */

/* ----------main-info---------- */
main .main-info{
    height: 760px;
    color: #444444;
    position: relative;
    background-image: url("img/hero-desktop.jpg") ;
}
main .main-info::after{
    content: url("img/zigzag-fill.png");
    position: absolute;
    bottom: 0;
    height: 34px;
}
main .main-info .menu{
    font-size: 15px;
    height: 60px;
}
main .main-info .menu nav a{
    margin-right: 60px;
}
main .main-info .menu div{
    width: 232px;
}
main .main-info h1{
    text-align: center;
    flex-grow: 1;
    margin: 95px;
    line-height: 1.1;
}
/* buttons */
.green-buttons{
    display: flex;
    align-items: stretch;
    flex-basis: 120px;
    padding-bottom: 15px;
}
.green-btn{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    border: 0px;
    background-position: center right;
    position: relative;
    height: 120px;
    padding: 0;
    text-transform: none;
}
.green-btn:hover{
    transform: scale(1, 1.05);
}
.green-btn::after{
    opacity:0.5;
    position: absolute;
    right: 35px;
    top: 30px;
    background-repeat: no-repeat;
}
.green-btn::before{
    width:120px;
    font-size: 22px;
    color:white;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 30px;
    line-height: 1.35;
    text-align: left;
}
.green-btn:hover:after{
    opacity: 0.7;
}
.green-btn:active:after,
.green-btn:active:before{
    opacity: 0.3;
}
button.left-btn{
    background-color: #63d1bb;
}
button.left-btn:hover{
    background-color: #59d5bc;
}
button.left-btn::after{
    content: url("img/left-logo-btn.png");
}
button.left-btn::before{
    content: "Предметы интерьера";
}
button.right-btn{
    background-color: #56c3b2;
}
button.right-btn:hover{
    background-color: #46c1ae;
}
button.right-btn::after{
    content: url("img/right-logo-btn.png");
}
button.right-btn::before{
    content: "Детские игрушки";
}


/* ----------product---------- */

.product{
    height: 790px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("img/triple-set-desktop.png");
    background-repeat: no-repeat;
    background-position: 100% 37%;
}
.product .product-week{
    font-size: 17px;
    font-weight: bold;
    color: #63d1bb;
    width: 170px;
    text-align: center;
    padding-top: 125px;
    text-transform: uppercase;
    line-height: 1.1;
}
.product .product-info{
    width: 875px;
    height: 690px;
    padding-left: 5px;
}
.product .product-info h1{
    margin: 100px 0 0 -5px;
}
.product .product-info table{
    font-size: 15px;
    color: #444444;
    margin-bottom: 60px;
}
.product .product-info tr{
    height: 40px;
}
.product .product-info table td.col1{
    width: 95px;
}
.product .product-info table td{
    padding: 0;
}
.product .product-info h2{
    font-size: 20px;
    color: #444444;
    font-weight: bold;
    margin: 0 0 0 73px;
}
.product .product-info button{
    width: 290px;
}

.product::after,
.about::after{
    content: url("img/zigzag-line-desktop.png");
    bottom: 0;
    position: absolute;
}


/* ----------about---------- */
/* _____about-us_____ */
.about{
    height: 1165px;
    flex-direction:column;
    align-items: stretch;
    position: relative;
}
.about-us{
    padding: 0 0 0 170px;
}
.about-us.short{
    height: 615px;
}
.about-us.short h1{
    margin:50px 0 0 0;
}
.about-us.short table{
    margin: 40px 0 0 0;
}
.about-us.short table td{
    width: 350px;
}
.about-us.short table tr{
    height: 155px;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
}
.about-us.short table td::before{
    display: block;
    height: 50px;
}
.about-us.short table .item1::before{
    content: url("img/icon-1.png");
}
.about-us.short table .item2::before{
    content: url("img/icon-2.png");
}
.about-us.short table .item3::before{
    content: url("img/icon-3.png");
}
.about-us.short table .item4::before{
    content: url("img/icon-4.png");
}
.about-us.short table .item5::before{
    content: url("img/icon-5.png");
}
.about-us.short table .item6::before{
    content: url("img/icon-6.png");
}

/* _____feedback_____ */
.about-us.feedback{
    height: 560px;
    justify-content: flex-start;
    background-image: url("img/feedback.png");
    background-repeat: no-repeat;
}
.about-us.feedback h1{
    margin: 0;
}
.about-us.feedback button{
    width: 175px;
    margin: 15px 0 0 0;
}
.about-us.feedback .arrow{
    width: 90px;
    height: 55px;
    border: 0;
    background-repeat: no-repeat;
    background-position: 50% -2%;
    background-color: white;
}
.about-us.feedback .arrow:hover{
    opacity: 0.6;
}
.about-us.feedback .arrow:active{
    opacity: 0.3;
}
.arrow.left{
    background-image: url("img/arrow-left.png")
}
.arrow.right{
    background-image: url("img/arrow-right.png")
}
.about-us.feedback p{
    width: 770px;
    flex-grow: 0.09;
}
.about-us.feedback .feedback-name{
    flex-grow: 0.3;
    padding: 10px 0 0 0;
}


/* ----------contacts---------- */
.contacts{
    height: 654px;
    align-items: flex-start;

}
.flag{
    width: 165px;
    height: 400px;
    background-image: url(img/flag.png);
    background-repeat: no-repeat;
    background-position: 53% 40%;
}
.contact-values{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 75px 0 0 0;
    height: 445px;
}
.contact-values h1{
    margin: 53px 0 0 0;
}
.contact-values table{
    height: 255px;
}
.contact-values .col1{
    width: 80px;
}
.contact-values .row2{
    vertical-align: top;
}
.contact-values td{
    padding: 0;
}
.contact-values button{
    width: 230px;
    margin: 0 5px;
}
#map{
    width: 525px;
    margin: 65px 0 0 0;
    position: relative;
}
#map::after{
    content: url("img/map-pin.png");
    position: absolute;
    left: 45%;
    top: 30%;
}




/* <<<<<----------footer---------->>>>> */

footer{
    height: 60px;
    margin: 10px 0 0 0;
    background-color: #f1f1f1;
}
footer .logo{
    flex-grow: 1;
    width: 105px;
    height: 35px;
    background-image: url("img/logo-text.png");
    background-repeat: no-repeat;
}
footer .logo:hover{
    background-image: url("img/logo-text-hover.png");
}
footer .social{
    flex-grow: 1;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
footer .social a{
    flex-grow: 0.11;
}
footer .ig{
    width: 22px;
    height: 21px;
    background-image: url("img/insta.png");
    background-repeat: no-repeat;
}
footer .ig:hover{
    background-image: url("img/insta-hover.png");
}
footer .fb{
    width: 15px;
    height: 28px;
    background-image: url("img/fb.png");
    background-repeat: no-repeat;
}
footer .fb:hover{
    background-image: url("img/fb-hover.png");
}
footer .tw{
    width: 23px;
    height: 20px;
    background-image: url("img/twitter.png");
    background-repeat: no-repeat;
}
footer .tw:hover{
    background-image: url("img/twitter-hover.png");
}
footer .by{
    flex-grow: 0;
    font-size: 19px;
    width: 185px;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .by::after{
    content: url("img/htmlacademy.png");
    float: right;
    margin: 20px 0 0 0;
    padding: 0 0 0 30px;
}
footer .by::after:hover{
    content: url("img/htmlacademy-hover.png");
}


@media screen and (min-width:1250px) {
    .mobile, .tablet, .tablet-mobile{
        display: none;
    }
}


@media screen and (max-width:768px) {
    html {
        width : 768px;
    }
    .desctop, .mobile, .desctop-mobile
    {
        display: none;
    }
    body{
        padding: 0;
    }
    header{
        justify-content: flex-end
    }
    header a.logo{
        background-image: url("img/mishka-logo-tablet.png");
        margin-left: 50px;
        left: 0%;
        height: 46px;
        width: 113px;
        top: 30%;
    }
    header a.search
    {
        left: 48%;
    }
    main .main-info .menu nav a.catalog{
        margin-right: 35px;
    }
    h1{
        font-size: 43px;
    }
    main .main-info h1{    
        margin: 95px 0;
    }
    main .main-info{   
        background-position: top;
        background-size: 950px 750px;
    }
    main .main-info::after{
        left: -2%;
        content: url(img/zigzag-fill-tablet.png);
        height: 30px;
    }
    .product .product-week{
        width: 70px;
        padding-top: 40px;
        text-transform: uppercase;
        line-height: 1.1;
    }
    .product .product-info{
        width: 570px;
        height: 540px;
        padding: 0;
    }
    .product .product-info h1 {
        margin: 22px 0 0 -5px;
    }
    .product .product-info table{
        margin: 0;
        flex-grow: 100;
    }
    .product{
        height: 625px; 
        background-image: url("img/triple-set-tablet.png");
        background-position: 100% 60%;
    }
    .product::after,
    .about::after{
        content: url("img/zigzag-line-tablet.png");
        left: -50px;
        bottom: 13px;
    }
    .about::after{
        bottom: 20px;
    }
    .about-us {
        padding: 0;
    }
    .about-us.short h1{
        margin: 25px 0 0 0;
    }
    .about-us.short table{
        margin: 45px 0 0 0;
    }
    .about-us.short{
        height: 600px;
    }
    .about-us.feedback{
        margin: 0 0 0 -50px;
        padding: 0 0 0 50px;
    }
    .about-us.feedback p{
        width: 610px;
    }
    .about-us.feedback div{
        flex-grow: 0.2;
    }
    .about-us.feedback .feedback-name{
        padding: 20px 0 0 0;
    }
    .about-us.feedback button{
        margin: 20px 0 0 0;
    }
    .contacts{
        flex-direction: column;
        height: 930px;
        align-items: center;
    }
    .flag {
        position: absolute;
        float: right;
        background-position: 100% 100%;
        width: 668px;
        height: 100px;
    }
    .contact-values{
        margin: 30px 0 0 0;
        height: 140px;
        width: 668px;
    }
    .contact-values h1{
        margin: 0;
    }
    .contact-values table{
        width: 668px;
        height: 90px;
        margin-top: 45px;
    }
    #map-img{
        src: url("img/map-tablet@1x.png")
    }
    #map {
        width: 768px;
    }
    #map::after{
        left: 47%;
    }
    .contact-values tr{
        vertical-align: top;
    }
    .contacts .write{
        width: 230px;
        margin-bottom: 85px
    }
    footer .social a {
        flex-grow: 0.23;
    }
    footer .social a {
        flex-grow: 0.25;
    }
}


@media screen and (max-width:320px) {
    html {
        width : 320px;
    }
    .desctop, .tablet, .desctop-tablet
    {
        display: none;
    }
    header a.logo{
        background-image: url("img/mishka-logo-mobile.png");
        margin: 0;
        height: 35px;
        width: 86px;
        left: 36%;
        top: 25%;
    }
    header .mobile-menu{
        background-image: url("img/mobile-menu.png");
        height: 14px;
        width: 20px;
        display: block;
        position: absolute;
        top: 35%;
        right: 10%;
    }
    main{
        padding: 0;
    }
   body{
        padding: 0;
    }
    header{
        justify-content: flex-end;
        padding: 0;
    }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    main .main-info h1{    
        margin: 0 30px;
        font-size: 27px;
    }
    main .main-info{   
        background-position: top;
        background-size: 950px 750px;
    }
    main .main-info{
        height: 495px;
        background-image: url("img/hero-mobile.png") ;
        background-size: 320px 300px;
        background-repeat: no-repeat;
    }
    .green-buttons{
        flex-direction: column;
        flex-basis: 210px;
    }
    .green-btn{
        width: 100%;
    }
    main .main-info::after{
        display: none;
    }
    .green-btn::before {
        font-size: 19px;
        left: 30px;
        top: 25px;
    }
    .green-btn::after {
        right: 30px;
        top: 25px;
    }
    .product {
        height: 830px;
        background-image: url("img/triple-set-mobile.png");
        background-position: 50% 63%;
        flex-direction: column;
        padding-left: 30px;
    }
    .product .product-info h1{
        margin-top: 7px;
        margin-left: 1px;
        flex-grow: 1;
    }
    .product .product-info{
        height: 765px;
    }
    .product .product-week.mobile {
        text-align: left;
        width: 260px;
        padding-top: 0;
        display: block;
        flex-grow: 4;
    }
    .product .product-info p{
        flex-grow: 0;
        padding: 10px 0;
    }
    .product .product-info table{
        flex-grow: 1;
        margin-bottom: 360px;
    }
    .product .product-info h2{
        flex-grow: 0.06;
        font-size: 17px;
        margin: 0;
        text-align: center;
        width: 260px;
        padding-bottom: 30px;
    }
    .product .product-info button{
        flex-grow: 0;
        width: 260px;
        margin: 0;
        text-align: center;
    }
    .product::after,
    .about::after{
        content: url("img/zigzag-line-mobile.png");
        bottom: 17px;
        left: 0;
    }
    .about .about-us.short .mobile{
        display: table;
        margin: 30px 0;
    }
    .about .about-us.short .mobile tr{
        height: 122px;
        font-size: 17px;
    }
    .about {
        height: 1460px;
        padding: 0 30px;
    }
    .about .about-us.short{
        height: 800px;
    }
    .about-us.short h1 {
        margin: 3px 0 0 0;
    }
    .about-us.feedback{
        background: none;
        justify-content: space-between;
        height: 605px;
    }
    .about-us.feedback .feedback-name{
        flex-direction: column;
        width: 260px;
        align-items: initial;
        margin-top: 5px;
    }
    .about-us.feedback div{
        flex-direction: column;
    }
    .about-us.feedback .mobile{
        display: block;
        width: 260px;
    }
    .contacts .mobile{
        display: block;
        width: 320px;
    }
    .about-us.feedback p{
        width: 260px;
        flex-grow: 0.3;
    }
    .about-us.feedback div p{
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 1.7;
    }
    .about-us.feedback .arrows{
        flex-direction: row;
        width: 220px;
        flex-grow: 0;
    }
    .contact-values {
        margin: 0;
        height: 210px;
        width: 260px;
        justify-content: start;
    }
    #map {
        width: 320px;
    }
    .contacts .contact-values .row2.desctop-mobile{
        display: table-row;
    }
    .product .product-info table td.col1{
        width: 70px;
    }
    .contact-values table{
        width: 260px;
        margin-top: 30px;
    }
    .contact-values h1{
        margin-top: 35px;
        font-size: 18px;
    }
    a.mail{
        font-size: 15px;
    }
    .contact-values tr {
        height: 60px;
    }
    .contact-values .row2 {
        height: 60px;
    }
    #map::after {
        left: 43%;
    }
    .contacts .write {
        width: 260px;
        margin-bottom: 45px;
    }
    .contacts {
        height: 900px;
    }
    footer {
        height: 160px;
        display: inline-block;
        padding: 0;
    }
    footer .social{
        width: 320px;
        height: 80px;
        margin: 0;
        justify-content: center;
    }
    footer .social a {
        height: 55px;
    }
    footer .by{
        height: 40px;
        margin-left: 65px;
    }
    footer .social a.ig{
        flex-grow: 0.16;
    }
    footer .social a.fb{
        flex-grow: 0.16;
    }
    footer .social a.tw{
        flex-grow: 0;
    }
    footer .by::after{
        margin-top: 10px;
    }
}