html,body{
    font-family: "Open Sans", 'Times New Roman', Times, serif;
    height: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    width : 1050px;
    flex-direction: column;
}
h1{
    font-size: 53px;
    font-weight: bold;
    text-align: left;
    display: block;
}
a{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
}
a:hover{
    opacity: 0.6;
}
a:active{
    opacity: 0.3;
}
p{
    font-size: 17px;
    color: #5c5252;
    margin: 0;
    line-height: 1.8;
}
button{
    height: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    flex-grow: 0;
    color: #444444;
    text-transform: uppercase;
    outline: none;
}
button:hover{
    background-color: #444444;
    border-color: #444444;
    color: white;
}
button:active{
   color: #8d8d8d;
}

nav,header, 
main .main-info .menu,
.product,

.header,.featured,.about,.contacts,.footer{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
}
main section.main-info,
.product  .product-info{
    display: flex;    
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

/* <<<<<----------header---------->>>>> */
header{
    font-size: 17px; 
    height: 90px;
 }
header nav{
    width: 450px;
}
.header-img{
    height: 90px;
}
header a.logo{
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/mishka-logo.png");
}
header a.search {
    flex-grow: 0;
    width: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("img/search.png");
}
header .cart-img{
    display: inline-block;
    width: 21px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url("img/cart.png");
}
header a.cart{
    flex-grow: 0;
    display: flex;
    align-items: center;
}
header a.cart span {
    margin-left: 32px;
}
header a.search:hover{
    background-image: url("img/search-hover.png");
}
header a.cart:hover .cart-img{
    background-image: url("img/cart-hover.png");
}



/* <<<<<----------main---------->>>>> */

/* ----------main-info---------- */
main .main-info{
    height: 760px;
    color: #444444;
    position: relative;
    background-image: url("img/hero-desktop.jpg") ;
}
main .main-info::after{
    content: url("img/zigzag-fill.png");
    position: absolute;
    bottom: 0;
    height: 34px;
}
main .main-info .menu{
    font-size: 15px;
    height: 60px;
}
main .main-info .menu nav a{
    margin-right: 60px;
}
main .main-info .menu div{
    width: 232px;
}
main .main-info h1{
    text-align: center;
    flex-grow: 1;
    margin: 95px;
    line-height: 1.1;
}
/* buttons */
.green-buttons{
    display: flex;
    align-items: stretch;
    flex-basis: 120px;
    padding-bottom: 15px;
}
.green-btn{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    border: 0px;
    background-position: center right;
    position: relative;
    height: 120px;
    padding: 0;
}
.green-btn::after{
    opacity:0.5;
    position: absolute;
    right: 35px;
    top: 30px;
    background-repeat: no-repeat;
}
.green-btn::before{
    width:120px;
    font-size: 22px;
    color:white;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 30px;
    line-height: 1.35;
    text-align: left;
}
.green-btn:hover:after{
    opacity: 0.7;
}
.green-btn:active:after,
.green-btn:active:before{
    opacity: 0.3;
}
button.left-btn{
    background-color: #63d1bb;
}
button.left-btn:hover{
    background-color: #59d5bc;
}
button.left-btn::after{
    content: url("img/left-logo-btn.png");
}
button.left-btn::before{
    content: "Предметы интерьера";
}
button.right-btn{
    background-color: #56c3b2;
}
button.right-btn:hover{
    background-color: #46c1ae;
}
button.right-btn::after{
    content: url("img/right-logo-btn.png");
}
button.right-btn::before{
    content: "Детские игрушки";
}

/* ----------product---------- */

.product{
    height: 790px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("img/triple-set-desktop.png");
    background-repeat: no-repeat;
    background-position: 100% 37%;
}
.product::after{
    content: url("img/zigzag-line-desktop.png");
    bottom: 0;
    position: absolute;
}
.product .product-week{
    font-size: 17px;
    font-weight: bold;
    color: #63d1bb;
    width: 170px;
    text-align: center;
    padding-top: 125px;
    text-transform: uppercase;
    line-height: 1.1;
}
.product .product-info{
    width: 875px;
    height: 690px;
    padding-left: 5px;
}
.product .product-info h1{
    margin: 100px 0 0 -5px;
}
.product .product-info table{
    font-size: 15px;
    color: #444444;
    margin-bottom: 60px;
}
.product .product-info tr{
    height: 40px;
}
.product .product-info table td.col1{
    width: 95px;
}
.product .product-info table td{
    padding: 0;
}
.product .product-info h2{
    font-size: 20px;
    color: #444444;
    font-weight: bold;
    margin: 0 0 0 73px;
}
.product .product-info button{
    width: 290px;
}

/* ----------about---------- */

.about{
    height: 1210px;
    flex-direction:column;
    align-items: stretch;
}
.about-us{
    padding: 0 0 0 170px;
}
.about-us.short,.about-us.feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-us.short{
    height: 625px;
}
.about-us.feedback{
    height: 560px;
}
.row-img{
    height: 55px;
}
.row-data{
    height: 100px;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
}
.about-us.short h1{
    margin:50px 0 0 0;
}
.about-us.short table{
    margin: 45px 0 0 0;
}
.about-us.short table .col1{
    width: 350px;
}
.about-us.feedback header,
.about-us.feedback footer,
.about-us.feedback footer div{
    display: flex;
    justify-content: space-between;
}
.about-us.feedback header{
    margin: 90px 0 0 0;
    flex-grow: 0.8;
}
.about-us.feedback h1{
    margin: 0;
}
.about-us.feedback button{
    width: 175px;
    margin: 19px -5px 0 0;
}
.about-us.feedback{
    background-image: url("img/feedback.png");
    background-repeat: no-repeat;
    background-position: 0% 35%;
    margin: 15px 5px 0 0;
}
.about-us.feedback .arrow{
    width: 90px;
    height: 55px;
    border: 0;
    background-repeat: no-repeat;
    background-position: 50% -2%;
    background-color: white;
}
.arrow.left{
    background-image: url("img/arrow-left.png")
}
.arrow.right{
    background-image: url("img/arrow-right.png")
}
.about-us.feedback footer{
    flex-grow: 2.5;
    margin: 0 0 0 5px;
}
.about-us.feedback main{
    flex-grow: 0.6;
    margin: 0 0 0 5px;
}
.contacts{
    flex-basis: 670px;
    align-items: flex-start;

}
.map{
    width: 525px;
    margin: 70px 0 0 0;
}
.contact-values{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 0 0 50px;
    height: 445px;
}
.contact-values button{
    width: 230px;
    flex-grow: 0;
    margin: 0 5px;
}
.map-pin{
    position: absolute;
    left: 1070px;
    top: 3065;
}
.flag{
    margin: 130px 0 0 65px;
}
.contact-values table{
    flex-grow: 10;
}
.contact-values h1{
    flex-grow: 0;
    margin: 53px 0 0 0;
}
.contact-values .col1{
    width: 80px;
}
.contact-values a{    
    font-size: 17px;
    color: #5c5252;
    margin: 0;
    line-height: 1.8;
}
.footer{
    height: 60px;
    margin: 10px 0 0 0;
}
.footer .logo{
    flex-grow: 2;
    height: 100%;
}
.footer .ig{
    flex-grow: 0.25;
}
.footer .fb{
    flex-grow: 0.25;
}
.footer .tw{
    flex-grow: 1.8;
}
.footer .by{
    flex-grow: 0;
    display: flex;
    font-size: 19px;
    font-weight: bold;
    width: 185px;
    justify-content: space-between;
}